- page_title "スターをつけたプロジェクト"
- header_title "プロジェクト", projects_path

= render 'dashboard/projects_head'

- if @projects.any?
  = render 'projects'
- else
  %h3 スターをつけたプロジェクトはありません
  %p.slead プロジェクトのページでスターのアイコンを押すとこのページで確認できます。
