.row
  .col-md-3
    .append-bottom-20
      = link_to help_path, class: 'btn btn-small' do
        %i.icon-angle-left
        ヘルプ
    %ul.nav.nav-pills.nav-stacked
      - %w(README projects project_snippets repositories repository_files commits deploy_keys users groups session issues milestones merge_requests notes system_hooks).each do |file|
        %li{class: file == @category ? 'active' : nil}
          = link_to @categories_i18n[file.to_sym], help_api_file_path(file)

  .col-md-9.pull-right
    = yield
