#modal-shortcuts.modal.hide{tabindex: -1}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3 キーボードショートカット
      .modal-body
        %h5 グローバルショートカット
        %p
          %span.label.label-inverse s
          &ndash;
          検索バーにフォーカス
        %p
          %span.label.label-inverse ?
          &ndash;
          このダイアログを表示

        %h5 プロジェクトのファイル閲覧
        %p
          %span.label.label-inverse
            %i.icon-arrow-up
          &ndash;
          選択位置を上に移動
        %p
          %span.label.label-inverse
            %i.icon-arrow-down
          &ndash;
          選択位置を下に移動
        %p
          %span.label.label-inverse Enter
          &ndash;
          選択項目を開く
