#modal-shortcuts.modal{tabindex: -1}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h4
          キーボードショートカット
          %small
            = link_to '(すべて表示)', '#', class: 'js-more-help-button'
      .modal-body.shortcuts-cheatsheet
        .col-lg-4
          %table.shortcut-mappings
            %tbody
              %tr
                %th
                %th グローバルショートカット
              %tr
                %td.shortcut
                  .key s
                %td 検索バーにフォーカス
              %tr
                %td.shortcut
                  .key ?
                %td このダイアログを表示
            %tbody
              %tr
                %th
                %th プロジェクトのファイル閲覧
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-up
                %td 選択位置を上に移動
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-down
                %td 選択位置を下に移動
              %tr
                %td.shortcut
                  .key enter
                %td 選択項目を開く

        .col-lg-4
          %table.shortcut-mappings
            %tbody{ class: 'hidden-shortcut project', style: 'display:none' }
              %tr
                %th
                %th グローバルダッシュボード
              %tr
                %td.shortcut
                  .key g
                  .key a
                %td
                  アクティビティフィードを表示
              %tr
                %td.shortcut
                  .key g
                  .key p
                %td
                  プロジェクトを表示
              %tr
                %td.shortcut
                  .key g
                  .key i
                %td
                  課題を表示
              %tr
                %td.shortcut
                  .key g
                  .key m
                %td
                  マージリクエストを表示
            %tbody
              %tr
                %th
                %th プロジェクト
              %tr
                %td.shortcut
                  .key g
                  .key p
                %td
                  プロジェクトのページを表示
              %tr
                %td.shortcut
                  .key g
                  .key e
                %td
                  プロジェクトのアクティビティフィードを表示
              %tr
                %td.shortcut
                  .key g
                  .key f
                %td
                  ファイルを表示
              %tr
                %td.shortcut
                  .key g
                  .key c
                %td
                  コミットを表示
              %tr
                %td.shortcut
                  .key g
                  .key b
                %td
                  Go to builds
              %tr
                %td.shortcut
                  .key g
                  .key n
                %td
                  ネットワークグラフを表示
              %tr
                %td.shortcut
                  .key g
                  .key g
                %td
                  グラフを表示
              %tr
                %td.shortcut
                  .key g
                  .key i
                %td
                  課題を表示
              %tr
                %td.shortcut
                  .key g
                  .key m
                %td
                  マージリクエストを表示
              %tr
                %td.shortcut
                  .key g
                  .key s
                %td
                  スニペットを表示
        .col-lg-4
          %table.shortcut-mappings
            %tbody{ class: 'hidden-shortcut network', style: 'display:none' }
              %tr
                %th
                %th ネットワークグラフ
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-left
                  \/
                  .key h
                %td 左へスクロール
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-right
                  \/
                  .key l
                %td 右へスクロール
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-up
                  \/
                  .key k
                %td 上へスクロール
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-down
                  \/
                  .key j
                %td 下へスクロール
              %tr
                %td.shortcut
                  .key
                    shift
                    %i.fa.fa-arrow-up
                  \/
                  .key
                    shift k
                %td 最上部にスクロール
              %tr
                %td.shortcut
                  .key
                    shift
                    %i.fa.fa-arrow-down
                  \/
                  .key
                    shift j
                %td 最下部にスクロール
            %tbody{ class: 'hidden-shortcut issues', style: 'display:none' }
              %tr
                %th
                %th 課題
              %tr
                %td.shortcut
                  .key a
                %td 担当者を変更
              %tr
                %td.shortcut
                  .key m
                %td マイルストーンを変更
              %tr
                %td.shortcut
                  .key r
                %td Reply (quoting selected text)
            %tbody{ class: 'hidden-shortcut merge_requests', style: 'display:none' }
              %tr
                %th
                %th マージリクエスト
              %tr
                %td.shortcut
                  .key a
                %td 担当者を変更
              %tr
                %td.shortcut
                  .key m
                %td マイルストーンを変更
              %tr
                %td.shortcut
                  .key r
                %td Reply (quoting selected text)


:javascript
  $('.js-more-help-button').click(function (e) {
    $(this).remove()l
    $('.hidden-shortcut').show();
    e.preventDefault();
  });
