= render layout: 'help/layout' do
  %h3.page-title セキュリティ

  %p.slead
    GitLabのインスタンスがインターネットからもアクセスできる場合、遅かれ早かれ'ボット'にアクセスされてしまうでしょう。
    %br
    %br
    %br
    .file-holder
      .file-title
        %i.icon-file
        総当たり攻撃への対応
      .file-content.wiki
        = preserve do
          = markdown File.read(Rails.root.join("doc", "security", "rack_attack.md"))
