%h3.page-title
  課題
  %span.pull-right #{@issues.total_count} 件

%p.light
  アクセス権のあるすべてのプロジェクトのすべての課題を表示しています。
%hr

.row
  .col-md-3
    = render 'shared/filter', entity: 'issue'
  .col-md-9
    = render 'shared/issues'
