%h3.page-title
  マージリクエスト
  %span.pull-right #{@merge_requests.total_count} 件


%p.light
  アクセス権のあるすべてのプロジェクトのすべてのマージリクエストを表示しています。
%hr
.row
  .col-md-3
    = render 'shared/filter', entity: 'merge_request'
  .col-md-9
    = render 'shared/merge_requests'
