- page_title "Merge Requests"
%h3.page-title
  マージリクエスト


%p.light
  アクセス権のあるすべてのプロジェクトのすべてのマージリクエストを表示しています。
%hr
.append-bottom-20
  = render 'shared/issuable_filter'
= render 'shared/merge_requests'
