- page_title "マージリクエスト"
%h3.page-title
  マージリクエスト


%p.light
  アクセス権のあるすべてのプロジェクトのすべてのマージリクエストを表示しています。
%hr
.append-bottom-20
  = render 'shared/issuable/filter', type: :merge_requests
= render 'shared/merge_requests'
