- page_title "ユーザ情報", @user.name, "Users"
= render 'admin/users/head'

- if @identities.present?
  .table-holder
    %table.table
      %thead
        %tr
          %th プロバイダ
          %th Identifier
          %th
      = render @identities
- else
  %h4 このユーザにはユーザ情報がありません
