- @commits.group_by { |c| c.committed_date.to_date }.sort.reverse.each do |day, commits|
  .row.commits-row
    .col-md-2
      %h4
        %i.icon-calendar
        %span= day.stamp("2010/08/28")
      %p #{commits.count}コミット
    .col-md-10
      %ul.bordered-list
        = render commits, project: @project
  %hr.lists-separator
