- page_title "公開スニペット"
%h3.page-title
  公開スニペット

  .pull-right
    - if current_user
      = link_to new_snippet_path, class: "btn btn-new btn-grouped", title: "新しいスニペット" do
        新しいスニペットを作成
      = link_to user_snippets_path(current_user), class: "btn btn-grouped"  do
        マイスニペット

%p.light
  あなたや他のユーザが作成した公開スニペットが表示されています。

%hr
= render 'snippets'

