- page_title "SSHキー"
%h3.page-title
  = page_title
  .pull-right
    = link_to "SSHキーを追加", new_profile_key_path, class: "btn btn-new"
%p.light
  SSHキーを追加する前に
  = link_to "SSHキーを生成してください", help_page_path("ssh", "README")
%hr

= render 'key_table'
