%h3.page-title
  SSHキー
  .pull-right
    = link_to "SSHキーを追加", new_profile_key_path, class: "btn btn-new"
%p.light
  SSHキーによって、あなたのコンピュータとGitLabはセキュアに接続されます。
  %br
  SSHキーを追加する前に
  = link_to "SSHキーを生成してください", help_page_path("ssh", "README")
  。
%hr


.panel.panel-default
  .panel-heading
    SSHキー (#{@keys.count})
  %ul.well-list#keys-table
    = render @keys
    - if @keys.blank?
      %li
        .nothing-here-block あなたのアカウントにアクセスできるSSHキーはありません。


