%h3.page-title SSHキーを追加
%p.light
  公開鍵をペーストしてください。SSHキーの生成方法についての詳細は #{link_to "SSHヘルプページ", help_page_path("ssh", "README")} をご確認ください。
%hr
= render 'form'

:javascript
  $('#key_key').on('keyup', function(){
    var title = $('#key_title'),
        val      = $('#key_key').val(),
        key_mail = val.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+|\.[a-zA-Z0-9._-]+)/gi);

    if( key_mail && key_mail.length > 0 && title.val() == '' ){
      $('#key_title').val( key_mail );
    }
  });
