- page_title "比較"
= render "projects/commits/header_title"
= render "projects/commits/head"

.gray-content-block
  ブランチ、タグ、コミットの範囲で比較できます。
  %br
  コミットのリストとコード差分を確認するには、入力フォームに
  %code.label-branch 4eedf23
  のような形式のコミットIDまたは
  %code.label-branch master
  のようなブランチ名やタグ名を入力し、比較ボタンを押してください。
  %br
  変更は1つ目の <b>from</b> のバージョンから2つ目の <b>to</b> のバージョンまでの範囲で表示されます。

.prepend-top-20
  = render "form"
