- unless @merge_request.source_branch_exists?
  %h4
    = icon("exclamation-triangle")
    マージ元のブランチ
    %span.label-branch= source_branch_with_namespace(@merge_request)
    が存在しません
  %p
    マージ元のブランチを復元するか、このマージリクエストをクローズして別のブランチで新しいマージリクエストを作成してください。
- else
  %h4
    = icon("exclamation-triangle")
    マージ先のブランチ
    %span.label-branch= @merge_request.target_branch
    が存在しません
  %p
    マージ先のブランチを復元するか、マージ先として別のブランチを使用してください
