%h3.page-title
  課題

%p.light
  %strong #{@group.name}
  グループの課題だけが表示されています。
  - if current_user
    すべての課題を確認するには #{link_to 'ダッシュボード', issues_dashboard_path} を表示してください。
%hr

.append-bottom-20
  = render 'shared/issuable_filter'
= render 'shared/issues'
