.loading-graph
  .center
    %h3.page-title
      %i.icon-spinner.icon-spin
      リポジトリグラフを構築しています
    %p 準備ができ次第、自動的に更新されますのでお待ちください

.stat-graph
  .header.clearfix
    .pull-right
      %select
        %option{:value => "commits"} コミット
        %option{:value => "additions"} 追加
        %option{:value => "deletions"} 削除
    %h3#date_header.page-title
    %p.light
      マージコミットを除いた#{@project.default_branch}へのコミットが 6,000 コミットまで表示されます。
    %input#brush_change{:type => "hidden"}
  .graphs
    #contributors-master
    #contributors.clearfix
      %ol.contributors-list.clearfix

:javascript
  $(".stat-graph").hide();

  $.ajax({
    type: "GET",
    url: location.href,
    complete: function() {
      $(".stat-graph").fadeIn();
      $(".loading-graph").hide();
    },
    dataType: "script"
  });
