#modal-confirm-danger.modal{tabindex: -1}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h4 確認が必要です

      .modal-body
        %p.cred.lead.js-confirm-text

        %p
          このアクションはデータを損失する可能性があります。
          誤った操作を防ぐため、意図した操作であるかどうかを確認します。
          %br
          続行するには、
          %code.js-confirm-danger-match #{phrase}
          を入力するか、ダイアログを閉じてキャンセルしてください

        .form-group
          = text_field_tag 'confirm_name_input', '', class: 'form-control js-confirm-danger-input'
        .form-group
          = submit_tag '確認', class: "btn btn-danger js-confirm-danger-submit"
