.btn-group.btn-group-next.event-filter
  = event_filter_link EventFilter.push, 'プッシュイベント'
  = event_filter_link EventFilter.merged, 'マージイベント'
  = event_filter_link EventFilter.comments, 'コメント'
  = event_filter_link EventFilter.team, 'チーム'
