- if outdated_browser?
  - link = "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/requirements.md#supported-web-browsers"
  .browser-alert
    お使いのブラウザでは GitLab は正常に動作しない可能性があります。
    %br
    より良いエクスペリエンスのために
    = link_to 'サポートされているWebブラウザ', link
    をインストールしてください。
