- page_title "トレンドプロジェクト"
.explore-title
  %h3
    GitLabを探索
  %p.lead
    プロジェクトとグループを見つけましょう。あなたのプロジェクトをシェアしましょう
%hr
.explore-trending-block
  %p.lead
    %i.fa.fa-comments-o
    この1ヶ月で最も議論されたプロジェクトを見てみましょう
  %hr
  .public-projects
    %ul.bordered-list
      = render @trending_projects

  .center.append-bottom-20
    = link_to 'すべてのプロジェクトを表示', explore_projects_path, class: 'btn btn-primary'
