%div#gitlab_import_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3 GitLab.com からのプロジェクトのインポート
      .modal-body
        GitLab.com からのプロジェクトのインポートを有効にするには、
        - if current_user.admin?
          管理者として
        - else
          GitLabの管理者に依頼して
        == #{link_to 'OAuthによる統合', help_page_path("integration", "gitlab")}.
        をセットアップしてください。
