= render "projects/commits/head"

%h3.page-title
  Gitタグ
  - if can? current_user, :push_code, @project
    .pull-right
      = link_to new_project_tag_path(@project), class: 'btn btn-create new-tag-btn' do
        %i.icon-add-sign
        タグを作成

%p.light
  タグを使うと、コミット履歴上で重要なポイントをマークすることができます。
%hr

- unless @tags.empty?
  %ul.bordered-list
    - @tags.each do |tag|
      = render 'tag', tag: @repository.find_tag(tag)

  = paginate @tags, theme: 'gitlab'

- else
  .nothing-here-block
    このリポジトリにはまだタグがありません。
    %br
    %small
      git tag コマンドを使って新しいタグを作成できます。
      %br
      %span.monospace git tag -a v1.4 -m 'version 1.4'
