- page_title "編集", @snippet.title, "スニペット"
= render "header_title"

%h3.page-title
  スニペットを編集
%hr
= render "shared/snippets/form", url: namespace_project_snippet_path(@project.namespace, @project, @snippet), visibility_level: @snippet.visibility_level
