- page_title "スニペット"
= render "header_title"

.gray-content-block.top-block
  .pull-right
    = link_to new_namespace_project_snippet_path(@project.namespace, @project), class: "btn btn-new", title: "新しいスニペット" do
      = icon('plus')
      新しいスニペット

  .oneline
    コードをGitリポジトリの外で共有しましょう。

= render 'snippets/snippets'
