- page_title "編集", @label.name, "ラベル"
= render "header_title"

%h3
  ラベルを編集
  %span.light #{@label.name}
.back-link
  = link_to namespace_project_labels_path(@project.namespace, @project) do
    &larr; ラベル一覧
%hr
= render 'form'
