%p
  こんにちは #{@user['name']} さん！
%p
  - if Gitlab.config.gitlab.signup_enabled
    あなたのアカウントが正常に作成されました。
  - else
    管理者があなたのアカウントを作成しました。
    これであなたも社内GitLabアプリケーションのメンバーです。
%p
  ログイン..................................
  %code= @user['email']

- if @user.created_by_id
  %p
    = link_to "クリックしてパスワードを設定", edit_password_url(@user, reset_password_token: @token)
  %p
    = raw reset_token_expire_message
