<p>ようこそ <%= @resource.name %> さん！</p>

<% if @resource.unconfirmed_email.present? %>
  <p>あなたのメールアドレス(<%= @resource.unconfirmed_email %>)を確認するために以下のリンクをクリックしてください。</p>
<% else %>
  <p>あなたのアカウントを確認するために以下のリンクをクリックしてください。</p>
<% end %>

<p><%= link_to 'アカウントを確認', confirmation_url(@resource, confirmation_token: @token) %></p>
