<p>こんにちは <%= @resource.email %> さん！</p>

<p>パスワード変更のリンクがリクエストされました。以下のリンクから変更することができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしあなたがパスワード変更をリクエストしていない場合は、このメールは無視してください。</p>
<p>あなたのパスワードは上記のリンクから新しいパスワードを発行するまでは変更されません。</p>
