%ul.content-list.issues-list
  = render @issues
  - if @issues.blank?
    %li
      .nothing-here-block 課題はありません

- if @issues.present?
  .pull-right
    %span.issue_counter #{@issues.total_count}
    個の課題に絞り込まれています

  = paginate @issues, theme: "gitlab"
