%ul.content-list.mr-list
  = render @merge_requests
  - if @merge_requests.blank?
    %li
      .nothing-here-block マージリクエストはありません

- if @merge_requests.present?
  .issuable-filter-count
    %span.pull-right
      = @merge_requests.total_count
      個のマージリクエストに絞り込まれています

  = paginate @merge_requests, theme: "gitlab"

